/* ========================================
   FOOTER
======================================== */

.footer {
    width: 100%;
    min-width: var(--page-width);

    padding: 83px 0 72px;

    background: #262626;
    color: #fff;

    text-align: center;
}

.footer-logo {
    margin-bottom: 2rem;
}

.footer-logo img {
    width: 200px;
}

.footer-links {
    display: flex;
    justify-content: center;

    gap: 12px;
    font-size: 13px;
    margin-bottom: 19px;
}

.footer-links a {
    color: #fff;

    font-size: 13px;
}

.footer p {
    margin: 0;

    color: #fff;

    font-size: 13px;
    line-height: 1.7;
}

.footer small {
    display: block;

    margin-top: 22px;

    color: #fff;

    font-size: 13px;
}

@media (max-width: 768px) {
    .footer {
        width: 100%;
        min-width: 0;

        padding: 65px 20px 55px;
    }

    .footer-logo {
        margin-bottom: 22px;

        font-size: 21px;
    }

    .footer-logo img {
        width: 150px;
    }

    .footer-links {
        flex-wrap: wrap;

        gap: 12px 18px;

        margin-bottom: 20px;
    }

    .footer-links a {
        font-size: 12px;
    }

    .footer p {
        max-width: 300px;

        margin: 0 auto;

        font-size: 12px;
        line-height: 1.8;
    }

    .footer small {
        margin-top: 22px;

        font-size: 11px;
    }
}