* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;

  width: 100%;
  min-height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Sans", sans-serif;

  background: #fff;
}

img {
  display: block;

  max-width: 100%;
}

a {
  color: inherit;
}

button,
input {
  font: inherit;
}